<!DOCTYPE html>
<html>
    <head>
        <title>Archived</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    </head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/summarized">Summery</a>
  <a class="active" href="/archived">Reports</a>
</div>

<div>
    <h1>Reports</h1>
    <ul id="Reports" style="list-style-type: disc;">
    ``PAGES``
    </ul>
</div>
    
</body>
</html>
