<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Chart.js Test</title>
    <link rel="icon" href="owoChipsLogo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body {
            font-family: "Arial Black";
        }
    </style>
</head>


<body>
    <div>
            <p style="font-size: medium; text-align: right;">Created by: Ilan Dobromilsky</p>
            <h1 style="text-align: center; text-decoration: underline; font-size:50px;">
                Overseer
            </h1>
            <p style="text-align:left; font-size: 25px;">Time Created: ``TIME``</p>
    </div>
        
    <div class="container">
        <h1>Agent Incoming</h1>
        <canvas id="1" width="600" height="280"></canvas>
        <h1>Agent Outgoing</h1>
        <canvas id="2" width="600" height="280"></canvas>
        <h1>Country's Traffic</h1>
        <canvas id="3" width="600" height="350"></canvas>
        <h1>Dst IP</h1>
        <canvas id="4" width="600" height="350"></canvas>
        <h1>Program's Traffic</h1>
        <canvas id="5" width="600" height="280"></canvas>
        <h1>Port's Traffic</h1>
        <canvas id="6" width="600" height="350"></canvas>
    </div>

    <script>
        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Arial';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';
        colors = [
                'rgba(255, 99, 132, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(255, 206, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(255, 159, 64, 0.6)'
            ]
        // ------------------ Chart1 -------------------- //
        let tmp = document.getElementById('1').getContext('2d');

        let incoming = new Chart(tmp, {
        type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
            labels:``AGENT_NAMES``,
            datasets:[{
            label:'Bytes',
            data:``AGENT_TRAFFIC_IN``,
            backgroundColor:colors,
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
            }]
        },
        options:{
            title:{
            display:true,
            fontSize:25
            },
            legend:{
            display:false
            },
            layout:{
            padding:{
                left:0,
                right:0,
                bottom:0,
                top:0
            }
            }
        }
        });

        // ------------------ Chart2 -------------------- //
        tmp = document.getElementById('2').getContext('2d');

        let outgoing = new Chart(tmp, {
            type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
            labels:``AGENT_NAMES,
            datasets:[{
            label:'Bytes',
            data:``AGENT_TRAFFIC_OUT``,
            backgroundColor:colors,
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
            }]
        },
        options:{
            title:{
            display:true,
            fontSize:25
            },
            legend:{
            display:false
            },
            layout:{
            padding:{
                left:0,
                right:0,
                bottom:0,
                top:0
            }
            }
        }
        });
        // ------------------ Chart3 -------------------- //
        tmp = document.getElementById('3').getContext('2d');

        let country = new Chart(tmp, {
            type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
            labels:``COUNTRIES_NAMES``,
            datasets:[{
            data:``COUNTRIES_TRAFFIC``,
            backgroundColor:colors,
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
            }]
        },
        options:{
            title:{
            display:true,
            fontSize:25
            },
            legend:{
            display:true,
            position:'right',
            labels:{
                fontColor:'#000'
            }
            },
            layout:{
            padding:{
                left:100,
                right:0,
                bottom:0,
                top:100
            }
            }
        }
        });

        // ------------------ Chart4 -------------------- //
        tmp = document.getElementById('4').getContext('2d');

        let dst = new Chart(tmp, {
        type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
            labels:``IP_ADDERS``,
            datasets:[{
            data:``IPS_VALUES``,
            backgroundColor:colors,
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
            }]
        },
        options:{
            title:{
            display:true,
            fontSize:25
            },
            legend:{
            display:true,
            position:'right',
            labels:{
                fontColor:'#000'
            }
            },
            layout:{
            padding:{
                left:100,
                right:0,
                bottom:0,
                top:100
            }
            }
        }
        });
        // ------------------ Chart5 -------------------- //
        tmp = document.getElementById('5').getContext('2d');

        let program = new Chart(tmp, {
        type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
            labels:``APPS_NAMES``,
            datasets:[{
            label:'Bytes',
            data:``APPS_VALUES``,
            backgroundColor:colors,
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
            }]
        },
        options:{
            title:{
            display:true,
            fontSize:25
            },
            legend:{
            display:false
            },
            layout:{
            padding:{
                left:0,
                right:0,
                bottom:0,
                top:0
            }
            }
        }
        });

        // ------------------ Chart6 -------------------- //
        tmp = document.getElementById('6').getContext('2d');

        let port = new Chart(tmp, {
        type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
            labels:``PORTS_NUMBERS``,
            datasets:[{
            data:``PORTS_TRAFFIC``,
            backgroundColor:colors,
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
            }]
        },
        options:{
            title:{
            display:true,
            fontSize:25
            },
            legend:{
            display:true,
            position:'right',
            labels:{
                fontColor:'#000'
            }
            },
            layout:{
            padding:{
                left:100,
                right:0,
                bottom:0,
                top:100
            }
            }
        }
        });
    </script>
    <p style="text-align:left; font-size: 25px;">``ALERTS``</p>
</body>
</html>
